<h1><%= @taxon.name %></h1>

<% content_for :sidebar do %>
  <%= hook :taxon_sidebar_navigation do %>
    <%= render :partial => "shared/taxonomies" %>
  <% end %>
<% end %>

<% if @taxon.children.empty? || !params[:keywords].blank? %>
  <%= hook :taxon_products do %>
    <% cache("t-p-#{@taxon.name}") do %>
      <%= render :partial => "shared/products", :locals => {:products => @products, :taxon => @taxon } %>
    <% end %>
  <% end %>
<% else %>
  <%= hook :taxon_children do %>
    <%= render :partial => "taxon", :collection => @taxon.children %>
  <% end %>
<% end %>

<div class="rounded-box taxon-description">
<%= RedCloth.new(@taxon.description).to_html.html_safe unless @taxon.description.nil? %>
</div>
