<style type="text/css">
#payment { color:#ddd; }
</style>
<div class="rounded-box" style="width:650px;position:relative;">
<fieldset id="payment">
  <legend><%= t("payment_information") %></legend>
  <%= hook :checkout_payment_step, {:form => form} do %>
    <% @order.available_payment_methods.each do |method| %>
    <p>
      <label>
        <%= radio_button_tag "order[payments_attributes][][payment_method_id]", method.id, method == @order.payment_method %> 
        <%= t(method.name, :scope => :payment_methods, :default => method.name) %>
      </label>
    </p>
    <% end %>
    <ul id="payment-methods">
      <% @order.available_payment_methods.each do |method| %>
        <li id="payment_method_<%= method.id %>"<%= ' class="last"' if method == @order.available_payment_methods.last %>>
          <fieldset>
            <%= render "checkout/payment/#{method.method_type}", :payment_method => method %>
          </fieldset>
        </li>
      <% end %>  
    </ul>
    <br style='clear:both;' />
    <p>
      <label><%= t(:coupon_code) %></label><br />
      <%= form.text_field :coupon_code, :size => 19 %>
    </p>
  <% end %>
</fieldset>
<div style="position:absolute;top:100px;left:200px;">
<!-- (c) 2005, 2011. Authorize.Net is a registered trademark of CyberSource Corporation --> <div class="AuthorizeNetSeal"> <script type="text/javascript" language="javascript">var ANS_customer_id="88a3aa01-657d-4706-9b63-0b4d21f255e0";</script> <script type="text/javascript" language="javascript" src="https://verify.authorize.net/anetseal/seal.js" ></script></div>
</div>
<div style="clear:both;"></div>
</div>
<br />
<hr class="space" />
<div class="form-buttons">
  <input type="submit" class="continue button primary" value="<%=t("save_and_continue") %>" />
  <div id="loading" style="display:none;"><%= image_tag "/images/ajax-loader.gif", :style => "display:inline;" %> Processing</div>
</div>
