    <h3>Shipping Details</h3>
    <table>
      <tr>
        <td>Customer Details</td>
        <td><%= customer_details @order.ship_address %></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><%= mail_to @order.email %></td>
      </tr>
      <tr>
        <td>Phone Number:</td>
        <td><%= @order.ship_address.phone %></td>
      </tr>
      <tr>
        <td>Shipping Cost</td>
        <td><%= number_to_currency @order.adjustments.shipping.map(&:amount).sum %></td>
      </tr>
      <tr>
        <td colspan="2">
          <h3 style="text-align: left; padding-left: 5px; margin-bottom:-30px;" >Shipments</h3>
          <input style="position:relative; float:right; top:-4px; height:23px;" type="submit" value="Ship All" />
        </td>
      </tr>
      <% @order.shipments.each do |shipment| %>
        <tr>
          <td colspan="2">
            <h4 style="margin:0;"><%= shipment.supplier.name %> (<%= shipment.shipping_method.name %>) <%= number_to_currency shipment.adjustment.amount %></h4>
            <span class="shipment-actions" style="display:block; margin-bottom:8px; width:100%">
              <!-- <input type="submit" value="invoice" /> -->
              <span id="ship-<%= shipment.number %>">
                <% if shipment.can_ship? %>
                  <%= form_tag fire_admin_order_shipment_path(@order, shipment, :e => 'ship'), :remote => true, :method => :put, :confirm => t('are_you_sure') do |f| %>
                    <%= submit_tag 'Ship' %>
                  <% end %>
                <% elsif shipment.shipped? %>
                  Shipped!
                <% else %>
                  Pending
                <% end %>
              </span>
            </span>
            <span class="tracking">
              <span id="tracking-form-<%= shipment.number %>"<%= " style='display:none;'" unless shipment.tracking.blank? %>>
                <%= form_for(shipment, :url => admin_order_shipment_url(@order, shipment), :remote => true, :html => {:method => :put}) do |ship_form| %>
                  <%= ship_form.label :tracking, t(:tracking) + '# :', :style => "display:inline-block; width:30%;" %>
                  <%= ship_form.text_field :tracking, :style => 'width:40%;' %>
                  <%= ship_form.submit 'Save' %>
                <% end %>
              </span>
              <span id="tracking-label-<%= shipment.number %>"<%= " style='display:none;'" if shipment.tracking.blank? %>>
                <span style="display:inline-block; width:70%;"><%= "Tracking #: #{shipment.tracking}" %></span>
                <input type="submit" onclick='$("#tracking-label-<%= shipment.number %>").hide(); $("#tracking-form-<%= shipment.number %>").show();' value="Edit" />
              </span>
            </span>
            <span class="actual-amount">
              <span id="amount-form-<%= shipment.number %>"<%= " style='display:none;'" unless shipment.adjustment.actual_amount.blank? %>>
                <%= form_for(shipment.adjustment, :url => admin_order_adjustment_url(@order, shipment.adjustment), :remote => true, :html => {:method => :put}) do |adjust_form| %>
                  <%= adjust_form.label :actual_amount, 'Cost: ', :style => "display:inline-block; width:30%;" %>
                  <%= adjust_form.text_field :actual_amount, :style => 'width:40%' %>
                  <%= adjust_form.submit 'Save' %>
                <% end %>
              </span>
              <span id="amount-label-<%= shipment.number %>"<%= " style='display:none;'" if shipment.adjustment.actual_amount.blank? %>>
                <span style="display:inline-block; width:70%;"><%= "Cost: #{number_to_currency shipment.adjustment.actual_amount}" %></span>
                <input type="submit" onclick='$("#amount-label-<%= shipment.number %>").hide(); $("#amount-form-<%= shipment.number %>").show();' value="Edit" />
              </span>
            </span>
          </td>
        </tr>
      <% end %>
    </table>
