<li><%= link_to t("about"), '/about' %></li>
<li>|</li>
<li><%= link_to t("terms"), '/terms' %></li>
<li>|</li>
<li><%= link_to t("contact"), '/contact_us' %></li>
<li>|</li>
<li><%= link_to t("gsa_contracts"), '/gsa' %></li>
<li>|</li>
<li><%= link_to_cart %></li>

