<li><%= link_to t("about") %></li>
<li>|</li>
<li><%= link_to t("terms") %></li>
<li>|</li>
<li><%= link_to t("contact") %></li>
<li>|</li>
<li><%= link_to t("gsa_contracts") %></li>
<li>|</li>
<li><%= link_to_cart %></li>

