<li><%= link_to t("about"), '/about' %></li>
<li>|</li>
<li><%= link_to t("contact"), '/contact_us' %></li>
<li>|</li>
<li><%= link_to t('my_account'), account_path %></li>
<% if current_user %> 
  <li>|</li>
  <li><%= link_to t('logout'), destroy_user_session_path %></li>
<% end %>
<% if current_order.nil? or current_order.line_items.empty? %>
<% else %>
<li>|</li><li>
<%= link_to_cart %>
</li>
<% end %>

