<%= javascript_include_tag 'quick_quote' %>
<script type="text/javascript" src="/states.js"></script>
<% @body_id = 'cart' %>
<% @body_class = 'two-col' %>

<% content_for :sidebar do %>
	<div style="height:37px;">&nbsp;</div>
  <%= hook :taxon_sidebar_navigation do %>
    <%= render :partial => "shared/taxonomies" %>
  <% end %>
<% end %>

<h1><%= t("shopping_cart")%></h1>

<% if @order.line_items.empty? %>

  <%= hook :empty_cart do %>
    <p><%= t("your_cart_is_empty.") %></p>
    <p><%=link_to t("continue_shopping"), products_path, :class => 'button continue' %></p>
  <% end %>

<% else %>

  <%= form_for(@order, :url => update_cart_path, :html=>{:id=>'updatecart'}) do |order_form| %>
    <%= hook :inside_cart_form do %>

      <%= hook :cart_items do %>
        <%= render :partial => 'form', :locals => {:order_form => order_form} %>
      <% end %>
      <div id="subtotal">
        <h3><%= "#{t("subtotal")}: #{order_price(@order)}" %></h3>
        <h3 id="quick-quote"><%= "Shipping: #{@quote}" if @quote %></h3>
        <div class="links">
          <%= link_to image_tag('/images/update.png') + t("update"), '#', :class => 'button checkout primary', :onclick => "$('form#updatecart').submit(); return false;" %>
          <%= link_to image_tag('/images/checkout.png') + t("checkout"), checkout_path, :class => 'button checkout primary' %>
        </div>
      </div>


    <% end %>
  <% end %>

  <div class="rounded-box" id="quick-quote-container">
	<h2>Calculate Shipping Quote</h2>
    <%= form_tag quote_cart_path, :remote => true, :method => :post, :class => 'cart-quick-quote' do |f| %>
      <span id="country">
        <%= collection_select :address, :country_id, Country.all, :id, :name %>
      </span>
      <span id="state">
        <% state_elements = [
          collection_select(:address, :state_id, Country.find(Spree::Config[:default_country_id]).states,
                            :id, :name, {:include_blank => true},
                            {:class => "required"}) +
          text_field(:address, :state_name, :style => "display:none;", :disabled => true)
          ].join.gsub('"',"'").gsub("\n","")
        %>
        <script type="text/javascript">
          document.write("<%= raw state_elements %>");
        </script>
      </span>
      <span id="zip">
        <span id="zip-code-label">Zip Code</span>: <%= text_field :address, :zipcode %>
      </span>
      <span id="submit">
        <%= submit_tag "Get Quote", :class => 'button' %>
        <div id="loading" style="display:none;"><%= image_tag "/images/ajax-loader.gif", :style => "display:inline;" %> Calculating Quote</div>
      </span>
      <div style="clear:both;"></div>
    <% end %>
    <h4>International Shipping</h4>
    <span class="note">
      Yes, Nu Era ships outside of North America. For a quote, contact us at <a href="mailto:questions@nuerafitness.com">questions@nuerafitness.com</a>.
    </span>
  </div>
  
  <span id="empty">
    <%= button_to t("empty_cart"), empty_cart_path, :method => :put, :class => 'button continue red' %>
  </span>
  <span id="continue">
    <%= link_to t("continue_shopping"), products_path, :class => 'button continue green' %>
  </span>
<% end %>
  
<style type="text/css">
div#quick-quote-container { width:300px; color:#ddd; margin-bottom:10px; margin-top:10px; } 
form.cart-quick-quote { width: 300px; }
span#country select { width: 300px; }
span#state select { width: 300px; }
span#zip input { width: 295px; }
span#submit { height: 25px; margin-bottom: 5px; display:block; }
span#submit input { float: right; }
div#loading { text-align:right; }
.cart-quick-quote select { font-size:13px; }
.cart-quick-quote span {display:block; margin-bottom:4px; }
.cart-quick-quote span#zip { font-size:14px; margin-bottom:6px; }
.cart-quick-quote span#zip-code-label {display:inline; }
.cart-quick-quote span#zip input {float:right; width:205px; }
#empty input.button.red { width:130px; margin-left:13px; float:left; color:#ff0000; font-weight:bold; }
#continue a.button.green { width:130px; margin-left:16px; float:left; color:#009900; text-align:center; font-weight:bold;}
</style>
