<div class="content">
  <h1>CrossFit</h1>
  <div style="padding:5px 0 15px 15px;font-size:20px;font-style:italic;">"Someone once told me the definition of Hell: The last day you have on earth, the
person you became will meet the person you could have become."</div>
  <div class="three-col">
    <div class="col double">
      <h2>Top 5 CrossFit Products</h2>
      <table cellspacing="3" cellpadding="2" class="top-crossfit-products">
      	<tr>
      		<td width="20%"><div class="top-product-category"><h5><a href="/t/category/medicine-balls-slash-medicine-balls">Medicine Balls</a></h5><div class="top-product-category-image"><a href="/t/category/medicine-balls-slash-medicine-balls"><%= image_tag "/assets/products/224/small/NuEra_MedBall_14_Blk.png", :style => "width:100px", :alt => "Nu Era Fitness Medicine Balls" %></a></div></div></td>
					<td width="20%"><div class="top-product-category"><h5><a href="/t/category/sleds-and-sandbags">Sandbag Trainers</a></h5><div class="top-product-category-image"><a href="/t/category/sleds-and-sandbags"><%= image_tag "/assets/products/144/small/Full-System-Sandbag-Trainer-offered-by-NuEra-Fitness.png", :style => "width:100px", :alt => "Nu Era Fitness Sand Bag System" %></a></div></div></td>
					<td width="20%"><div class="top-product-category"><h5><a href="/t/category/ropes-and-rings">Gym Rings</a></h5><div class="top-product-category-image"><a href="/t/category/ropes-and-rings"><%= image_tag "/assets/products/11/small/Best-Value-NuEra-Fitness-CrossFit-Gym-Rings.png", :style => "width:100px", :alt => "Nu Era Fitness Gym Rings" %></a></div></div></td>
					<td width="20%"><div class="top-product-category"><h5><a href="/t/category/kettlebells">Kettle Bells</a></h5><div class="top-product-category-image"><a href="/t/category/kettlebells"><%= image_tag "/assets/products/169/small/High-Quality-24kg-Kettlebells-from-NuEra-Fitness.png", :style => "width:100px", :alt => "Nu Era Fitness Kettle Bells" %></a></div></div></td>
					<td width="20%"><div class="top-product-category"><h5><a href="/t/category/ropes-and-rings">Speed Rope</a></h5><div class="top-product-category-image"><a href="/t/category/ropes-and-rings"><%= image_tag "/assets/products/71/small/NuEra Fitness CrossFit Ultra Speed Jump Rope.jpg", :style => "width:100px", :alt => "Nu Era Fitness Speed Rope" %></a></div></div></td>
      	</tr>
      </table>
      <p>Its not always easy being the underdog, but its always the most rewarding...and
					like you, we've been through the gauntlet. We've felt the roller coaster of emotions,
					we've had the ups and downs. Like you, we refuse to quit and we continue to grow
					and get better. We showcase our strengths and improve our weaknesses. We are
					a different breed, driven by challenge and motivated by a powerful sense of self
					accomplishment. While others complain about difficult workouts, we grin with guilty
					pleasure at the day's WOD. While others beg for water breaks, we beg for more.<br />We
					are CrossFitters. We are <b>Nu Era Fitness</b>.</p>
		</div>
    <div class="col last">
      <h2>Proud Sponsor of:</h2>
      <a href="https://www.capalio.com/AG2011-Event.php" target="_blank"><img src="/images/afghan-games.jpg" border="0" style="padding:6px 0;"/></a>
    </div>
  </div>
</div>
