<div style="height:360px;width:903px;margin:15px 0 35px 15px;border-radius:15px;-webkit-border-radius:15px;overflow:hidden;">
	<div class="slideshow">
		<a href="/products" style="display:block;height:360px;width:903px;border-radius:15px;"><img src="/images/banner-enter-store.png" /></a>
		<a href="/t/category/medicine-balls-slash-medicine-balls" style="display:block;height:360px;width:903px;border-radius:15px;"><img src="/images/med-ball-banner.jpg" /></a>
	</div>
</div>
<!-- 0 83 156 239 322 415 498 581 664 747 830 -->
<div class="grid" style="position:relative;width:974px;height:520px;margin-left:-20px;background:url(/images/riv-bg.jpg) top left repeat-y;">
	<div style="position:relative;top:15px;left:35px;">
	<a href="/t/category/kettlebells" class="grid-box w5" style="top:0;left:0;">
		<div class="category" style="position:relative;">
			<h2 class="category raised" style="display:none;position:absolute;top:5px;left:4px;letter-spacing:3px;display:block;font-size:88px;text-transform:uppercase;color:#00ff00;">Kettlebells</h2>
			<h2 class="category lowered" style="position:absolute;top:5px;left:4px;letter-spacing:3px;display:block;font-size:88px;text-transform:uppercase;color:#999;">Kettlebells</h2>
			<img src="/images/homepage-kettlebell.png" style="z-index:4;position:absolute;top:-28px;left:0px;" width="180" />
			<!--<img src="http://staging.nuerafitness.com:3002/assets/products/163/large/NuEra-Fitness-CrossFit-18kg-Kettlebell.png?1304384186" style="z-index:2;position:absolute;top:-580px;left:-194px;opacity:0.4" width="800" />-->
		</div>
	</a>
	<a href="/t/category/bars-and-racks" class="grid-box h2" style="top:0;left:415px;">
		<div class="category" style="position:relative;">
			<h2 class="category raised rotated" style="position:absolute;top:61px;left:-15px;display:block;font-size:35px;text-transform:uppercase;color:#00ff00;">Bars&Racks</h2>
			<h2 class="category lowered rotated" style="position:absolute;top:61px;left:-15px;display:block;font-size:35px;text-transform:uppercase;color:#ccc;">Bars&Racks</h2>
			<img src="/images/homepage-rack.png" style="z-index:5;position:absolute;top:-20px;left:-156px;opacity:0.9" />
		</div>
	</a>
	<a href="/t/category/medicine-balls-slash-medicine-balls" class="grid-box w2 h2" style="top:0;left:498px;">
		<div class="category" style="position:relative;">
			<h2 class="category raised" style="position:absolute;top:12px;left:4px;letter-spacing:4px;display:block;font-size:105px;text-transform:uppercase;color:#00ff00;">Med</h2>
			<h2 class="category raised" style="position:absolute;top:96px;left:5px;letter-spacing:4px;display:block;font-size:66px;text-transform:uppercase;color:#00ff00;">Balls</h2>
			<h2 class="category lowered" style="position:absolute;top:12px;left:4px;letter-spacing:4px;display:block;font-size:105px;text-transform:uppercase;color:#ccc;">Med</h2>
			<h2 class="category lowered" style="position:absolute;top:96px;left:5px;letter-spacing:4px;display:block;font-size:66px;text-transform:uppercase;color:#ccc;">Balls</h2>
			<img src="/images/homepage-medball.png" style="z-index:4;position:absolute;top:38px;left:28px;" width="100" />
			<!--<img src="http://assets-1.nuerafitness.com/assets/products/223/large/NuEra_MedBall_20_Blk.png?1305263832" style="z-index:2;position:absolute;top:-210px;left:-160px;opacity:0.3" width="500" />-->
		</div>
	</a>
	<a href="/t/category/medicine-balls-slash-slammer-balls" class="grid-box w2" style="top:0;left:664px;">
		<div class="category" style="position:relative;">
			<h2 class="category raised" style="position:absolute;top:4px;left:4px;letter-spacing:4px;display:block;font-size:40px;text-transform:uppercase;color:#00ff00;">Slammer</h2>
			<h2 class="category raised" style="position:absolute;top:35px;left:57px;letter-spacing:1px;display:block;font-size:47px;text-transform:uppercase;color:#00ff00;">Balls</h2>
			<h2 class="category lowered" style="position:absolute;top:4px;left:4px;letter-spacing:4px;display:block;font-size:40px;text-transform:uppercase;color:#ccc;">Slammer</h2>
			<h2 class="category lowered" style="position:absolute;top:35px;left:57px;letter-spacing:1px;display:block;font-size:47px;text-transform:uppercase;color:#ccc;">Balls</h2>
			<img src="/images/homepage-slamball.png" style="z-index:4;position:absolute;top:25px;left:-27px;" width="100" />
		</div>
	</a>
	<a class="grid-box face" style="margin-right:0;top:0;left:830px;">
		<img src="/images/jason.jpg" style="display:none;z-index:4;" />
	</a>
	<a href="/t/category/nutrition" class="grid-box h2" style="top:83px;left:0;">
		<div class="category" style="position:relative;">
			<h2 class="category raised rotated" style="position:absolute;top:57px;left:-15px;display:block;font-size:45px;text-transform:uppercase;color:#00ff00;">Nutrition</h2>
			<h2 class="category lowered rotated" style="position:absolute;top:57px;left:-15px;display:block;font-size:45px;text-transform:uppercase;color:#ccc;">Nutrition</h2>
			<img src="/images/homepage-nutrition.jpg" style="z-index:2;position:absolute;top:-170px;left:-27px;opacity:0.15;" />
		</div>
	</a>
	<a href="/t/category/plyo-boxes" class="grid-box w4 h2" style="top:83px;left:83px;">
		<div class="category" style="position:relative;">
			<h2 class="category raised" style="position:absolute;top:5px;left:4px;letter-spacing:4px;display:block;font-size:85px;text-transform:uppercase;color:#00ff00;">Plyo</h2>
			<h2 class="category raised" style="position:absolute;top:72px;left:2px;letter-spacing:4px;display:block;font-size:115px;text-transform:uppercase;color:#00ff00;">Boxes</h2>
			<h2 class="category lowered" style="position:absolute;top:5px;left:4px;letter-spacing:4px;display:block;font-size:85px;text-transform:uppercase;color:#ccc;">Plyo</h2>
			<h2 class="category lowered" style="position:absolute;top:72px;left:2px;letter-spacing:4px;display:block;font-size:115px;text-transform:uppercase;color:#ccc;">Boxes</h2>
			<img src="/images/homepage-plyo.png" style="z-index:4;position:absolute;top:8px;left:118px;" width="200" />
			<!--<img src="http://staging.nuerafitness.com:3002/assets/products/121/large/NuEra-Fitness-18%27-Steel-Plyo-Box.png?1304390318" style="z-index:2;position:absolute;top:0px;left:-84px;opacity:0.2" width="600" />-->
		</div>
	</a>
	<a href="/t/category/recovery" class="grid-box h2" style="top:83px;left:664px;">
		<div class="category" style="position:relative;">
			<h2 class="category raised rotated" style="position:absolute;top:55px;left:-17px;display:block;font-size:46px;text-transform:uppercase;color:#00ff00;">Recovery</h2>
			<h2 class="category lowered rotated" style="position:absolute;top:55px;left:-17px;display:block;font-size:46px;text-transform:uppercase;color:#ccc;">Recovery</h2>
		</div>
	</a>
	<a href="/t/category/bumper-plates" class="grid-box w2 h2" style="top:83px;left:747px;">
		<div class="category" style="position:relative;">
			<h2 class="category raised" style="position:absolute;top:5px;left:4px;display:block;font-size:56px;text-transform:uppercase;color:#00ff00;">Bumper</h2>
			<h2 class="category raised" style="position:absolute;top:102px;left:2px;display:block;font-size:67px;text-transform:uppercase;color:#00ff00;">Plates</h2>
			<h2 class="category lowered" style="position:absolute;top:5px;left:4px;display:block;font-size:56px;text-transform:uppercase;color:#ccc;">Bumper</h2>
			<h2 class="category lowered" style="position:absolute;top:102px;left:2px;display:block;font-size:67px;text-transform:uppercase;color:#ccc;">Plates</h2>
			<img src="/images/homepage-bumper.png" style="z-index:2;position:absolute;top:-23px;left:-22px;opacity:0.4" width="200" />
		</div>
	</a>
	<a href="/t/category/rossfit-packages" class="grid-box w2 h3" style="top:166px;left:415px;">
		<div class="category" style="position:relative;">
			<h2 class="category raised" style="position:absolute;top:11px;left:4px;display:block;font-size:71px;text-transform:uppercase;color:#00ff00;">Cross</h2>
			<h2 class="category raised" style="position:absolute;top:68px;left:0;display:block;font-size:166px;text-transform:uppercase;color:#00ff00;">Fit</h2>
			<h2 class="category raised" style="position:absolute;top:192px;left:5px;display:block;font-size:46px;text-transform:uppercase;color:#00ff00;">Packages</h2>
			<h2 class="category lowered" style="position:absolute;top:11px;left:4px;display:block;font-size:71px;text-transform:uppercase;color:#ccc;">Cross</h2>
			<h2 class="category lowered" style="position:absolute;top:68px;left:0;display:block;font-size:166px;text-transform:uppercase;color:#ccc;">Fit</h2>
			<h2 class="category lowered" style="position:absolute;top:192px;left:5px;display:block;font-size:46px;text-transform:uppercase;color:#ccc;">Packages</h2>
		</div>
	</a>
	<a class="grid-box face" style="top:166px;left:581px;">
		<img src="/images/bryce.jpg" style="display:none;z-index:4;" />
	</a>
	<div class="grid-box shadow w3 h3" style="top:249px;left:0;">
		<div class="" style="padding:15px">
			<h2 style="margin-bottom:0;"><span style="font-size:22px;color:#fff;"><em>The Latest</em></span></h2>
			<div class="twitter"></div>
			<!--<span class="date" style="text-decoration:none;">May 22, 2011</span>
			<a href=""><h3 class="article-title">New website launched</h3></a>
			<p style="color:#fff;line-height:14px;margin-bottom:0px;" class="article-summary"><%= image_tag '/images/nuera-logo.png', :width => '60', :style => 'float:right;' %>We just launched our brand new website and are working hard to roll out tons of fresh new content in the coming days, weeks, months and beyond. Our team is looking forward to continuing to bring you the latest and greatest fitness products, training videos, articles and more!</p>
			<a href="">Full article</a>-->
		</div>
	</div>
	<!--<div class="grid-box" style="top:258px;left:172px;"></div>-->
	<a href="/t/category/ropes-and-rings" class="grid-box w2 h2" style="top:249px;left:249px;">
		<div class="category" style="position:relative;">
			<h2 class="category raised" style="position:absolute;top:5px;left:4px;display:block;font-size:60px;text-transform:uppercase;color:#00ff00;">Ropes&</h2>
			<h2 class="category raised" style="position:absolute;top:93px;left:2px;display:block;font-size:79px;text-transform:uppercase;color:#00ff00;">Rings</h2>
			<h2 class="category lowered" style="position:absolute;top:5px;left:4px;display:block;font-size:60px;text-transform:uppercase;color:#ccc;">Ropes&</h2>
			<h2 class="category lowered" style="position:absolute;top:93px;left:2px;display:block;font-size:79px;text-transform:uppercase;color:#ccc;">Rings</h2>
			<img src="/images/homepage-rings.png" style="z-index:4;position:absolute;top:24px;left:-17px;" width="190" />
			<!--<img src="http://assets-1.nuerafitness.com/assets/products/10/large/manila-rope.jpg" style="z-index:2;position:absolute;top:-420px;left:-332px;opacity:0.3" />-->
		</div>
	</a>
	<!--<div class="grid-box w2 h2" style="top:344px;left:0;"></div>-->
	<!--<div class="grid-box h2" style="top:344px;left:172px;"></div>-->
	<a href="/t/category/apparel" class="grid-box w2" style="top:415px;left:249px;">
		<div class="category" style="position:relative;">
			<h2 class="category raised" style="position:absolute;top:4px;left:4px;display:block;font-size:54px;text-transform:uppercase;color:#00ff00;">Apparel</h2>
			<h2 class="category lowered" style="position:absolute;top:4px;left:4px;display:block;font-size:54px;text-transform:uppercase;color:#ccc;">Apparel</h2>
			<img src="/images/homepage-tshirt.png" style="z-index:4;position:absolute;top:24px;left:15px;opacity:0.9" width="130"/>
		</div>
	</a>
	<a href="/t/category/sleds-and-sandbags" class="grid-box w2" style="top:415px;left:415px;">
		<div class="category" style="position:relative;">
			<h2 class="category raised" style="position:absolute;top:5px;left:54px;letter-spacing:0px;display:block;font-size:40px;text-transform:uppercase;color:#00ff00;">Sleds&</h2>
			<h2 class="category raised" style="position:absolute;top:37px;left:3px;letter-spacing:1px;display:block;font-size:42px;text-transform:uppercase;color:#00ff00;">Sandbags</h2>
			<h2 class="category lowered" style="position:absolute;top:5px;left:54px;letter-spacing:0px;display:block;font-size:40px;text-transform:uppercase;color:#ccc;">Sleds&</h2>
			<h2 class="category lowered" style="position:absolute;top:37px;left:3px;letter-spacing:1px;display:block;font-size:42px;text-transform:uppercase;color:#ccc;">Sandbags</h2>
			<img src="/images/homepage-sled.png" style="z-index:4;position:absolute;top:10px;left:-20px;" width="100" />
		</div>
	</a>
	<div class="grid-box shadow w4 h3" style="top:249px;left:581px;">
		<div style="padding:15px;">
			<h2 class="gray" style="font-size:22px;color:#fff;"><span style="color:#fff;">Nu</span><span style="color:#00ff00;">Era</span> Training Video of the Week</h2>	
			<!--<iframe style="margin:0 0 8px 0;" width="292" frameborder="0" allowfullscreen="" src="http://www.youtube.com/embed/hqV7tp-CurQ"></iframe>-->
			<!--<a href=""><h3 class="video"><span>Medicine Ball Chop</span> <span class="date">May 19, 2011</span></h3></a>-->
			<p style="color:#ccc;">Stay tuned for NuEra Fitness workout videos in the next few days!</p>
		</div>
	</div>
	</div>
</div>

<style type="text/css">
div#store-menu-items a.home-page-menu {
	display:block;
	/*width: 219px;*/
	width: 173px;
	height: 60px;
	background: url(/images/menu-button-bg-left.png) top left no-repeat;
	float:left;
	margin-top: 0px;
	margin-right:7px;
	margin-left:4px;
	line-height:18px;
	color:#bbb;
	text-decoration:none;
}
div#store-menu-items a.home-page-menu:hover {
  background: url(/images/menu-button-bg-left-hover.png) top left no-repeat;
}
div#store-menu-items a.home-page-menu span.background {
	display:block;
	width: 219px;
	height: 60px;
	/* background: url(/images/menu-button-bg-right.png) top right no-repeat; */
}
div#store-menu-items a.home-page-menu span.title {
  display:block;
	padding:0 0 0 10px;
	text-decoration:none;
	line-height:30px;
	font-family:arial;
	font-size:16pt;
	letter-spacing:1px;
	text-transform:uppercase;
	color:#ddd;
}
div#store-menu-items a.home-page-menu span.title-hover {
  display:block;
	padding:0 0 0 10px;
	text-decoration:none;
	line-height:30px;
	font-family:arial;
	font-size:20pt;
	letter-spacing:1px;
	text-transform:uppercase;
	color:#eee;
}
.shop { 
	display:block;
  padding:6px 0 0 10px;
  font-family:courier;
  font-size:12px;
  color:#ddd;
  line-height:21px;
  letter-spacing: 1px;
}
span.icon {
	display:block;
	width: 219px;
	height: 60px;
}
a#apparel span.icon {
	background:url(/assets/products/13/mini/Classic-CrossFit-T-by-NuEra-Fitness.png) 165px 9px no-repeat;
}
a#bars-and-racks span.icon {
	background:url(/assets/products/20/mini/Wright-45lb-HD-Barbell-offered-by-NuEra-Fitness.png) 165px 19px no-repeat;
}
a#plyo-boxes span.icon {
	background:();
}
#homepage-content {
	margin-top:20px;
}
#homepage-content h2.gray {
	color:#bbb;
}	
#homepage-content .col {
  float:left;
  width:300px;
  margin-right:15px;
  background:black;
}
div.col-content {
	padding:10px;
}
div.video-container {
	padding:8px;
	background:#222;
}
div.video {
	float:left;
	width:216px;
	border:6px solid #333;
}
div.recent-video-container {
	float:left;
	width:132px;
	margin-right:12px;
}
div.recent-video {
	width:120px;
	border:6px solid #333;
}
div.video-description {
	float:left;
	width:320px;
	padding:8px;
}
p.video-description {
	font-size:13px;
	margin-bottom:4px;
}	
span.date {
	color:#999;
	font-size:12px;
	font-style:italic;
	font-family:georgia;
}
p.article-summary {
	font-size:11px;
}

a.grid-box,
div.grid-box {
	display:box;
	overflow:hidden;
	background-color:#222;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	/* box-shadow: 5px 5px 12px 5px #161616 inset;
	padding: 15px;*/
	position:absolute;
	width:73px;
	height:73px;
	margin-right:10px;
	margin-bottom:10px;
}

a.grid-box img,
div.grid-box img {
	display:block;
	-webkit-border-radius: 8px;
}
a.grid-box {
	cursor:pointer;
}	

a.grid-box.shadow,
div.grid-box.shadow {
	box-shadow: 5px 5px 12px 5px #161616 inset;
}

a.grid-box.black,
div.grid-box.black {
	background-color:#000;
}

a.grid-box.w2,
div.grid-box.w2 {
	width:156px;
}

a.grid-box.w3,
div.grid-box.w3 {
	width:239px;
}

a.grid-box.w4,
div.grid-box.w4 {
	width:322px;
}

a.grid-box.w5,
div.grid-box.w5{
	width:405px;
}

a.grid-box.h2,
div.grid-box.h2 {
	height:156px;
}

a.grid-box.h3,
div.grid-box.h3 {
	height:239px;
}

a.grid-box.h4,
div.grid-box.h4{
	height:322px;
}

a.grid-box.h5,
div.grid-box.h5{
	height:405px;
}

h2.category {
	line-height:90px;
}
h2.category.lowered {
	z-index:3;
	color:#fff;
	opacity:0.5;
}
h2.category.raised {
	z-index:5;
	color:#00ff00;
}
h2.rotated {
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.twitter { color:#ccc; font-size:12px; line-height:15px; }
.twitter ul { list-style:none; margin:0; }
.twitter ul li { list-style:none; margin:12px 0; }
.twitter .tweet_avatar { float:left; margin:0 4px 4px 0; }
</style>

<%= javascript_include_tag "jquery.cycle.min.js" %>
<%= javascript_include_tag "tweet.js" %>
<script type="text/javascript">
$(document).ready(function() {
	$("a.home-page-menu").hover(
		function() {
			$(this).find("span.title").hide();
			$(this).find("span.title-hover").show();
		},
		function() {
			$(this).find("span.title-hover").hide();
		  $(this).find("span.title").show();
		});
		
		bg = new Image();
		bg.src = "/images/menu-button-bg-left-hover.png";
		$("h2.raised").css('z-index','3').hide();
		$("div.category").hover(
			function() {
				$(this).find("h2.raised").show();
				$(this).find("h2.lowered").hide();
				$(this).find("h2.raised *").css('visibility','visible');
				$(this).find("h2.raised").css('z-index','5');
			},
			function() {
				$(this).find("h2.raised").hide();
				$(this).find("h2.lowered").show();
				$(this).find("h2.raised *").css('visibility','hidden');
				$(this).find("h2.raised").css('z-index','3');
			}
		);
		
		$(".face").hover(
			function() {
				$(this).find("img").show();
			},
			function() {
				$(this).find("img").hide();
			}
		);
		
		$('.slideshow').cycle({
			fx: 'fade',
			speed: 400,
			timeout: 5000
			// choose your transition type, ex: fade, scrollUp, shuffle, etc...
		});
		
		$(".twitter").tweet({
			join_text: "auto",
			username: "NuEraFitness",
			avatar_size: 36,
			count: 2,
			auto_join_text_default: "we said,",
			auto_join_text_ed: "we",
			auto_join_text_ing: "we were",
			auto_join_text_reply: "we replied",
			auto_join_text_url: "we were checking out",
			loading_text: "loading tweets..."
		});
});
</script>

<!--<img src="/images/grid-demo.jpg" width="920" />-->
<!-- <div class="store-menu">
  <div id="store-menu-items">
	  <a class="home-page-menu" id="plyo-boxes" href="/t/category/plyo-boxes" ><span class="background"><span class="icon"><span class="shop">SHOP:<br /></span><span class="title">Plyo Boxes</span><span class="title-hover" style="display:none;">Plyo Boxes</span></span></span></a>
	  <a class="home-page-menu" id="kettlebells" href="/t/category/kettlebells" ><span class="background"><span class="icon"><span class="shop">SHOP:<br /></span><span class="title">Kettlebells</span><span class="title-hover" style="display:none;">Kettlebells</span></span></span></a>
	  <a class="home-page-menu" id="med-balls" href="/t/category/medicine-balls-slash-medicine-balls" ><span class="background"><span class="shop">SHOP:<br /></span><span class="title">Med Balls</span><span class="title-hover" style="display:none;">Med Balls</span></span></a>
	  <a class="home-page-menu" id="CrossFit Packages" href="/t/category/crossfit-packages" ><span class="background"><span class="shop">SHOP:<br /></span><span class="title">CrossFit Packages</span><span class="title-hover" style="display:none;">CrossFit Packages</span></span></a>
		<a class="home-page-menu" id="med-balls" href="/t/category/medicine-balls-slash-medicine-balls" ><span class="background"><span class="shop">SHOP:<br /></span><span class="title">Med Balls</span><span class="title-hover" style="display:none;">Med Balls</span></span></a>
  </div>
</div> -->
<!--
<div id="homepage-content" class="content">
	<div class="three-col">
		<div class="col">
			<h2><span style="font-size:22px;color:#fff;"><em>Latest News</em></span></h2>
			<span class="date">May 22, 2011</span>
			<a href=""><h3 class="article-title">New website launched</h3></a>
			<p class="article-summary"><%= image_tag '/images/nuera-logo.png', :width => '60', :style => 'float:right;' %>We just launched our brand new website and are working hard to roll out tons of fresh new content in the coming days, weeks, months and beyond. Our team is looking forward to continuing to bring you the latest and greatest fitness products, training videos, articles and more!</p>
			<a href="">Full article</a>
		</div>
		<div class="col double last">
			<h2 class="gray" style="font-size:22px;color:#fff;"><span style="color:#fff;">Nu</span><span style="color:#00ff00;">Era</span> Training Video of the Week</h2>
			<div class="video-container">
				<div class="video">
					<iframe width="216" frameborder="0" allowfullscreen="" src="http://www.youtube.com/embed/hqV7tp-CurQ"></iframe>
				</div>
				<div class="video-description">
					<a href=""><h3 class="video"><span class="viedo-title">Medicine Ball Chop</span> <span class="date">May 19, 2011</span></h3></a>
					<p class="video-description">Med Ball Chops are a high intensity, explosive exercise designed to highlight full body movement and core strength...
					</p>
					<a class="button" href="">Read more and <b>Watch the Video</b></a>
					<a href="">See all videos</a>
				</div>
				<div class="clear"></div>
				<br />
				
				<div class="recent-video-container">
					<div class="recent-video">
						<iframe width="120" frameborder="0" allowfullscreen="" src="http://www.youtube.com/embed/hqV7tp-CurQ"></iframe>
					</div>	
					<span class="date">April 26, 2011</span><br />
					<a href="">Nu Era Partial Push-up</a>
				</div>
				<div class="recent-video-container">
					<div class="recent-video">
						<iframe width="120" frameborder="0" allowfullscreen="" src="http://www.youtube.com/embed/hqV7tp-CurQ"></iframe>
					</div>	
					<span class="date">April 26, 2011</span><br />
					<a href="">Nu Era Partial Push-up</a>
				</div>
				<div class="recent-video-container">
					<div class="recent-video">
						<iframe width="120" frameborder="0" allowfullscreen="" src="http://www.youtube.com/embed/hqV7tp-CurQ"></iframe>
					</div>	
					<span class="date">April 26, 2011</span><br />
					<a href="">Nu Era Partial Push-up</a>
				</div>
				<div class="recent-video-container" style="margin-right:0;">
					<div class="recent-video">
						<iframe width="120" frameborder="0" allowfullscreen="" src="http://www.youtube.com/embed/hqV7tp-CurQ"></iframe>
					</div>	
					<span class="date">April 26, 2011</span><br />
					<a href="">Nu Era Partial Push-up</a>
				</div>
				
			</div>
		</div>
		<div class="clear"></div>
		<div class="col">
			<h2 style="display:block;position:relative;height:50px;"><span style="font-size:36px;color:#00ff00;display:block;float:left;">NO FINISH LINE</span><span style="font-size:14px;display:block;float:left;">&trade;</span><span style="position:absolute;clear:both;display:block;top:30px;left:2px;color:#ccc;font-size:14px;">The NuEra Fitness Blog</span></h2>
			<span class="date">May 22, 2011</span>
			<a href=""><h3 class="article-title">New website launched</h3></a>
			<p class="article-summary"><%= image_tag '/images/nuera-logo.png', :width => '60', :style => 'float:right;' %>We just launched our brand new website and are working hard to roll out tons of fresh new content in the coming days, weeks, months and beyond. Our team is looking forward to continuing to bring you the latest and greatest fitness products, training videos, articles and more!</p>
			<a href="">Full article</a>
		</div>
	</div>
</div>
-->
