<%= render :partial => 'shared/doc_and_xmlns'%>
<head>
<%= hook :inside_head do %>
  <%= render :partial => 'shared/head'%>
<% end %>
<!-- cufon text -->
<script type="text/javascript" src="/javascripts/cufon.js" ></script>
<script type="text/javascript" src="/javascripts/Din_400.font.js" ></script>
<script type="text/javascript">
  Cufon.replace('h1');
  Cufon.replace('h2');
  Cufon.replace('#cart-detail h4');
  Cufon.replace('a.root');
  Cufon.replace('.nuera-phone');
</script>
<!-- end cufon -->
</head>
<%
if @body_class.nil?
  if content_for?(:sidebar)
    @body_class = 'two-col'
  else
    @body_class = 'one-col'
  end
end
 %>
<body class="<%= @body_class %>" id="<%= @body_id %>">
  <div id="bottom-shadow">
    <div id="main-wrapper"> <!-- includes left and right side repeating shadows -->
      <div id="steel-main"> <!-- includes flat bg color and main steel graphic -->
        <div id="steel-top">
          <div id="header" class="container_bg">
          	<div class="nuera-phone"><img src="/images/nuera-phone-number.png" /></div>
            <div class="container">
            <div id="login-bar">
                <%= render 'shared/nav_bar' %>
            </div>
            <ul class="nav-bar-3">
        <li><%= link_to t("home"), '/' %></li>
				<li>|</li>
				<li><%= link_to t("store"), products_path %></li>
				<li>|</li>
				<li><%= link_to t("nutrition"), '/nutrition' %></li>
				<li>|</li>
				<li><%= link_to t("training"), '/training' %></li>
				<li>|</li>
				<li><%= link_to t("gyms"), '/gyms' %></li>
				<li>|</li>
				<li><%= link_to t("crossfit"), '/crossfit' %></li>
			</ul>
		    <div id="logo">
              <%= logo %>
            </div>
          </div>
          </div>
        
          <div id="wrapper" class="container">
            <% if content_for?(:sidebar) %>
            <div id="sidebar">
              <%= hook :sidebar do %>
                <%= yield :sidebar %>
              <% end %>
            </div>
            <% end %>
        
            <div id="content">
              <%= breadcrumbs(@taxon) if @taxon %>
              <% if flash.notice %>
              <div class="flash notice"><%= flash.notice %></div>
              <% end %>
              <% if flash[:error] %>
              <div class="flash errors"><%= flash[:error] %></div>
              <% end %>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
      <%= render :partial => 'shared/footer'%>
    </div>
  </div>
  
</body>
</html>
