<%= render :partial => 'shared/doc_and_xmlns'%>
<head>
<meta name="google-site-verification" content="FteV0QV0vA6ve0KBb3QdP5sJySnBSYrEgkg4HywCLeU" />
<meta property="og:site_name" content="Nu Era Fitness" />
<meta property="fb:admins" content="643902463,1351505005,25201743,185006723,680329463" />
<meta property="og:email" content="questions@nuerafitness.com" />
<meta property="og:phone_number" content="888-469-3445" />

<%= hook :inside_head do %>
  <%= render :partial => 'shared/head'%>
<% end %>
<!--[if IE 7]>
        <link rel="stylesheet" type="text/css" href="/stylesheets/ie7.css">
<![endif]-->
</head>
<%
if @body_class.nil?
  if content_for?(:sidebar)
    @body_class = 'two-col'
  else
    @body_class = 'one-col'
  end
end
 %>
<body class="<%= @body_class %>" id="<%= @body_id %>">
  <div id="bottom-shadow">
    <div id="main-wrapper"> <!-- includes left and right side repeating shadows -->
      <div id="steel-main"> <!-- includes flat bg color and main steel graphic -->
        <div id="steel-top">
          <div id="header" class="container_bg">
          	<div style="position:absolute;left:195px;top:45px;font-size:15px;font-weight:bold;color:#444;font-family:arial;font-style:italic;line-height:20px;">"Train like there is no finish line"</div>
            <div class="nuera-phone" style="position:absolute;left:200px;top:70px;"></div>
            <div class="container" style="height:190px;">
            <div id="login-bar">
                <%= render 'shared/nav_bar' %>
            </div>
            
            <% cache(:nav_bar_3_and_logo) do %>
            <!--
              <ul class="nav-bar-3">
                  <li><%= link_to t("home"), '/' %></li>
                  <li>|</li>
                  <li><%= link_to t("store"), products_path %></li>
                  <li>|</li>
                  <li><%= link_to t("nutrition"), '/nutrition' %></li>
                  <li>|</li>
                  <li><%= link_to t("training"), '/training' %></li>
                  <li>|</li>
                  <li><%= link_to t("gyms"), '/gyms' %></li>
                  <li>|</li>
                  <li><%= link_to t("crossfit"), '/crossfit' %></li>
              </ul>
              -->
              <a id="logo" href="/"></a>
            <% end %>
            <div style="position:absolute;z-index:6;top:125px;width:975px;height:40px;background:url(/images/store-menu-bg.jpg) top left;">
							<div style="margin-left:210px;">
								<div class="main-menu" style="width:60px;border:none;"><a href="/" class="main-menu">Home</a></div>
								<div class="main-menu" style="width:60px;"><a href="/t/category" class="main-menu" style="color:#00ff00;">SHOP</a></div>
								<div class="main-menu"><a href="/nutrition" class="main-menu">Nutrition</a></div>
								<div class="main-menu"><a href="/training" class="main-menu">Training</a></div>
								<div class="main-menu" style="width:60px;"><a href="/gyms" class="main-menu">Gyms</a></div>
								<div class="main-menu"><a href="/crossfit" class="main-menu">CrossFit</a></div>
								<% if current_order && current_order.line_items.any? %>
									<div class="main-menu cart" style="width:90px;color:#00ff00;"><%= image_tag '/images/checkout.png', :style => 'float:left;margin-top:7px;margin-left:8px;' %><%= link_to t("cart"), cart_path %></div>
									<div class="main-menu cart" style="width:100px;color:#00ff00;"><%= link_to t("checkout"), checkout_path %></div>
								<% end %>

							</div>
						</div>
          </div>
          </div>
        
          <div id="wrapper" class="container">
            <% if content_for?(:sidebar) %>
            <div id="sidebar">
              <%= hook :sidebar do %>
                <%= yield :sidebar %>
              <% end %>
            </div>
            <% end %>
        
            <div id="content">
              <%= breadcrumbs(@taxon) if @taxon %>
              <% if flash.notice %>
              <div class="flash notice"><%= flash.notice %></div>
              <% end %>
              <% if flash[:error] %>
              <div class="flash errors"><%= flash[:error] %></div>
              <% end %>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
      <% cache(:footer) do %>
        <%= render :partial => 'shared/footer'%>
      <% end %>
    </div>
    <% cache(:subfooter) do %>
    	<%= render :partial => 'shared/subfooter' %>
    <% end %>
  
  <% unless current_user && current_user.roles.map(&:name).include?('admin') %>
    <%= render 'shared/google_analytics' %>
  <% end %>
  <%= render 'shared/facebook_sdk' %>
  <% if current_order && current_order.line_items.any? && request.request_uri != cart_path %>
  	<%= render :partial => 'shared/cart_widget'%>
  <% end %>
</body>
</html>
